@charset "UTF-8" ;

:root {
    --main-color: #2D454D
}
 html {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
 }

body {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4) , rgba(0, 0, 0, 0.4)), url(../Imagens/evee-wallpaper.png) no-repeat 65% bottom ;
    background-size: cover;
}

/*Imagem*/
.background-imagem {
    background: linear-gradient(rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.5)), url(../Imagens/red-2.jpg) no-repeat center bottom ;
    background-size: cover;
    height: 7rem;
    border-radius: 20px 20px 0px 0px;
}

/*Formulário*/
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formulario {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    margin: 0rem 3rem 0rem 3rem;
    box-shadow: 0 8px 32px rgba(0,0,0, 1);
    background: transparent;
    backdrop-filter: blur(3px);
}

input {
    background-color: var(--main-color);    
    color:rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 20px;
    height: 2.5rem;
    width: 15rem;
    border-radius: 0.625rem;
    border: none;
}

#senha {
    margin-top: 5px;
}

.formulario p {
    color: var(--main-color);
}

a {
    text-decoration: none;
    font-size: 18px;
}


#line-father {
    display: flex;
    align-items: center;
    justify-content: center;
}

#line-style {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #2D454D;

}

#button-style {
    margin-top: 20px;
    width: 10rem;
    font-size: 1.1rem;
}

input::placeholder {
    color: white;
    padding-left: 15px;
    font-size: 1rem;
    font-weight: lighter;
}

#text-social {
    font-size: 22px;
}

.icon-login {
    width: 3rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin: 20px 5px 5px 5px;
}